<footer class="footer flex">
&copy; 2023 All right of in this website are reserved to BlogDaily</footer>
<script src="/css/script.js"></script>
<script src="https://kit.fontawesome.com/bf6daeeeed.js" crossorigin="anonymous"></script></body>
</html>