* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    background-color: #222;
    height: 70px;

}

h1 {
    margin-bottom: 20px;
}


.nav-links {
    width: 30%;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;

}

.nav-links>li>a {
    color: white;

}

.nav-links>li>a:hover {
    color: rgba(255, 0, 0, 0.747);
}

.nav-header {
    width: 20%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
}

.nav-header>a {
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

form {
    width: 60%;
    margin: auto auto;
}


.container {
    padding: 50px;
    min-height: 470px;
}

.form {
    flex-direction: column;
    border: 2px solid grey;
    margin-block: 20px;
    background-color: grey;
    color: white;
    padding: 25px;
    border-radius: 5px;
}

input,
textarea {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin-block: 10px;
    outline: none;
    padding-inline: 30px;
    font-size: 1rem;
    border: 2px solid black;

}

input:hover,
textarea:hover {
    box-shadow: 2px 2px 1px 3px white;
}

textarea {
    height: 150px;

}

.btn-primary {
    width: 20%;
    padding: 8px 25px;
    margin-inline: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.about {
    flex-direction: column;
    background-color: grey;
    color: yellow;

    font-size: 1.2rem;
    word-spacing: 6px;
    row-gap: 14px;
}

.about>p {
    margin-bottom: 15px;
}

.contact-form {
    flex-direction: column;
    border: 2px solid grey;
    margin-block: 20px;
    background-color: grey;
    color: white;
    padding: 25px;
    border-radius: 5px;

}

.container>h2 {
    width: 50%;
    background-color: rgba(255, 0, 0, 0.384);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: bold;
    margin: auto;
}

.blog {
    background-color: grey;
    color: white;
    border-radius: 6px;
    padding: 10px 15px;
    margin-block: 10px;

}

.blog>p {
    font-size: 1rem;
    margin-block: 10px;
}

.blog-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.blog-link:hover {
    background-color: white;
    color: black;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
}

.post {
    background-color: gray;
    color: white;
    font-size: 1.2rem;
}

.footer {
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    background-color: #222;
    height: 70px;
}
.buttons>form,.buttons>form>.btn-primary,.buttons>.link{
    width:150px;
    display: inline;
}
.buttons{
    margin-block:30px;
}
.buttons>form>.btn-primary,.buttons>.link{
    padding:11px 15px;
}

@media screen and (max-width:500px) {
   
}