<%- include("header")   -%>
<div class="container">
    <h1>Publish Blogs</h1>

    <form class="flex form" method="post">
        <label for="title">
          <h3>Title:</h3>  <input name="title" placeholder="Enter the Title">
        </label>
        <label for="blog">
           <h3> Blog :</h3> <textarea row="20" cols="10" name="blog" placeholder="Put Your Blog Here"></textarea>
        </label>
        <button class="btn-primary">Submit</button>
    </form>

</div>
<%- include("footer") -%>