<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogDaily-The most popular Blogging website</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicons/favicon.ico">
</head>
<body>
  <nav class="flex">
    <div class="nav-header flex"><a href="/">BlogDaily</a></div>
    <ul class="nav-links flex ">
      <li><a href="/">Home</a></li>
      <li><a href="blog">Blogs</a></li>
      <li><a href="about">About Us</a></li>
      <li><a href="contact">Contact Us</a></li>
    </ul>
  </nav>

